header {
    background: #d4e5bf;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 20px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: green;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 22%;
    vertical-align: top;
    margin: 0 4%;
    padding: 30px 30px;
    box-sizing: border-box;
    border: 2px solid #000000;
}

.produtos li:hover {
    border-color: green;
    color: green;
    cursor: pointer;
}

.produtos li:active {
    border-color: #d4e5bf;
}

.produtos img {
    width: 120px;
    height: 120px;
    object-fit: contain
}

.produtos h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 2px;    
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
    background: #d4e5bf;
    padding: 40px 0 !important;
}

.copyright {
    font-size: 15px;
    margin: 20px 0 0;
}