body {
    font-family: Helvetica, sans-serif; 
}

header {
    text-align: center;
}

#logo {
    width: 300px;
}

.separador {
	background: #fcf6f0;
	padding: 2px;
}

.principal {
    width: 50%;
	display: inline-block;
    padding-left: 10px;
}

em strong {
	color: #FF0000;
}

.beneficio {
    display: inline-block;
    width: 40%;
    padding: 40px;
}
.imagem-vela {
    width: 100%;
}
